body{
    background-color: #fafaf8;
}

#nav{
    border: 5px solid black; 
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    margin-bottom: 50px;
}

#header{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    margin-top: 10px;
}

#tree img{
    width: 850px;
    height: 650px;
    margin: 0 auto;
}

#nav h5{
    font-size: 20px;
}

#tree{
    text-align: center;
}

#nav a{
    text-decoration: none;
    color: black;
}

#div1{
    text-align: center;
}

.slovakflag{
    width: 300px;
    height: 200px;
    border: 5px solid black;
}

.link{
    font-size: 20px;
    text-align: center;
}

#info{
    margin-left: 400px;
    margin-right: 400px;
    border: 3px solid black;
    padding: 5px;
}

.polandflag{
    width:300px;
    height: 200px;
    border: 5px solid black;
}

.englandflag{
    width: 300px;
    height: 200px;
    border: 5px solid black;
}

.austrianflag{
    width: 300px;
    height: 200px;
    border: 5px solid black;
}